.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.button-style{
  background-color: #5e63b6;
}
button:hover {
  background-color: #27296d;
  color:whitesmoke;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}

/* NAVBAR */
.navbar{
  padding: 0px;
  margin: 0px;
}
/* nav bar */


/* LOGIN  */
.card_height{
  height: 300px;
}
.cardcolor{
  background-color: #7daeb9;
  border : none;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.backcolor{
  background-color: rgb(129, 181, 197);

}
.butshadow{
 background-color: rgb(137, 233, 233);
 box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;;

}

/* Create account */
.bg-img-ca{
  background-image: url("./Assets/pexels.jpg");
  background-size: cover;
  border-image: fill 0 linear-gradient(rgba(104, 104, 104, 0.9),#616161);
}
.bg-img-sign{
  background-image: url("./Assets/pic2.jpg");
  background-size: cover;
  /* border-image: fill 0 linear-gradient(rgba(104, 104, 104, 0.9),#616161); */

}


/* REGISTER */
/* .card_height{
 height: 400px;
} */

/* CONTACT US */

.contactwidth{
  height: 500px;
  width: 450px;
}
/* FOOTER */
.liststyle{
  list-style: none;
  
}
.liststyle a{
  text-decoration: none;
  color: black;
}
a:hover{
  text-decoration: underline;
  color: whitesmoke;
}

/* position: absolute;
top:50%;
left: 50%;
transform: translate(-50%,-50%); */

.loader {
  position: absolute;
top:50%;
left: 50%;
transform: translate(-50%,-50%); 

  --dim: 3rem;
  width: var(--dim);
  height: var(--dim);
  position: relative;
  animation: spin988 2s linear infinite;
}

.loader .circle {
  --color: #333;
  --dim: 1.2rem;
  width: var(--dim);
  height: var(--dim);
  background-color: tomato;
  border-radius: 50%;
  position: absolute;
}

.loader .circle:nth-child(1) {
  top: 0;
  left: 0;
}

.loader .circle:nth-child(2) {
  top: 0;
  right: 0;
}

.loader .circle:nth-child(3) {
  bottom: 0;
  left: 0;
}

.loader .circle:nth-child(4) {
  bottom: 0;
  right: 0;
}

@keyframes spin988 {
  0% {
    transform: scale(1) rotate(0);
  }

  20%, 25% {
    transform: scale(1.3) rotate(90deg);
  }

  45%, 50% {
    transform: scale(1) rotate(180deg);
  }

  70%, 75% {
    transform: scale(1.3) rotate(270deg);
  }

  95%, 100% {
    transform: scale(1) rotate(360deg);
  }
}